/* Global */
body {
  position: relative;
  margin: 0px auto;
  font-family: "Lora", serif;
  background-color: #f8f8f8;
  color: #222;
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
}

h2,
h4,
p {
  font-family: "Lora", serif;
}

h1 {
  font-size: 1rem;
  font-weight: 900;
  color: #bf4b47;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3 {
  margin: 0 0 0.25em 0;
}

h2 {
  font-weight: 400;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #bf4b47;
}

a:hover {
  text-decoration: none;
  color: rgb(130, 38, 35);
}
