@use '../mixins/media' as *;

.input-container {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 1rem .5rem;
    opacity: 1;
    transition: opacity .15s linear, top .15s linear;

    @include desktop {
        width: fit-content;
        min-width: 300px;
        padding: 0;
    }

    &.hide {
        opacity: 0;
        top: -75px;
        transition: opacity .15s linear, top .15s linear;
    }

    .input {
        width: 100%;
        box-sizing: border-box;
        background-color: #e8dcc4;
        padding: 12px;
        border: 1px solid #8a7d6a;
        box-shadow: 0 2px 10px rgba(90, 77, 58, 0.35);
        border-radius: 100px;
        color: #4a3d2e;

        @include desktop {
            margin: 1rem 8px;
        }

        &::placeholder {
            color: #8a7d6a;
        }

        &:focus {
            box-shadow: 0 2px 12px rgba(90, 77, 58, 0.45);
            outline: none;
        }
    }
}