@use '../mixins/media' as *;

.overlay {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 12px;
    border: 1px solid #d8534f;

    @include mobile {
        visibility: hidden;
        bottom: 0;
        width: 100vw;
        max-width: 450px;
        height: 0;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 5px #0007;
        transition: visibility 0s linear 0.15s, height .15s linear;

        .overlay-close {
          visibility: hidden;
          height: 0;
          // transition: display linear 0.15s, height .15s linear;
        }

        &.peek {
            visibility: visible;
            height: 40vh;
            transition: visibility 0s, height .15s linear;
            overflow-y: hidden;

            .overlay-size {
              margin: .3em auto;
              width: 10%;
              background-color: #ccc;
              border-radius: 15px;
              height: 4px;
            }
        }

        &.open {
            visibility: visible;
            height: 98vh;
            transition: visibility 0s, height .15s linear;
            overflow-y: auto;

            .overlay-size {
              display: none;
            }

            .overlay-close {
              display: flex;
              visibility: visible;
              height: auto;
              justify-content: flex-end;
              transition: visibility 0s, height .15s linear;
            }
        }
    }

    @include desktop {
        top: 1vh;
        left: -453px;
        height: 98vh;
        width: 450px;
        overflow-y: auto;
        border-radius: 10px;
        box-shadow: 3px 3px 5px #0007;
        transition: left .15s linear;

        &.peek {
            left: 8px;
        }

        .overlay-size, .overlay-close {
          display: none;
        }
    }

    .map-panel-photo {
        width: 100%;
      }
      
      /* In Window */
      
      .dates {
        font-weight: 800;
      }
      
      .list__container {
        display: block;
        background-color: #fcfaf4;
        margin: 10px;
        padding: 18px 9px;
      }
      
      .menu {
        text-align: center;
      }
      
      .list__title {
        font-weight: 600;
        font-size: 1.2rem;
        font-family: 'Permanent Marker', cursive;
      }
      
      .list__item {
        display: block;
        padding: .5em 1em .5em 1em;
        letter-spacing: .5px;
        color: #444;
        font-size: .92rem;
      }
}