@use '../mixins/media' as *;

.overlay {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    background-color: #fbfaf5;
    padding: 12px;
    border: 1px solid #d8534f;

    @include mobile {
        position: fixed;
        visibility: hidden;
        bottom: 0;
        width: 100vw;
        max-width: 450px;
        height: 0;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 5px #6666;
        transition: visibility 0s linear 0.15s, height .15s ease-out;
        overflow-y: hidden;

        &.dragging {
            transition: none;
        }

        &.peek {
            visibility: visible;
            height: 30vh;
            transition: visibility 0s, height .15s ease-out;
            
            .overlay-size {
                margin: .3em auto;
                width: 10%;
                background-color: #ccc;
                border-radius: 15px;
                height: 4px;
            }
        }

        &.open {
            visibility: visible;
            height: 99vh;
            height: 99svh; /* Small viewport height - consistent size regardless of browser chrome */
            transition: visibility 0s, height .15s ease-out;
            overflow-y: auto;

            &.top {
                touch-action: pan-down !important;
            }

            &.not-top {
                touch-action: pan-y !important;
            }

            .overlay__inner {
                padding-bottom: 2em;
            }
        }
    }

    @include desktop {
        top: 1vh;
        left: -453px;
        max-height: 98vh;
        width: 450px;
        overflow-y: auto;
        border-radius: 1rem;
        box-shadow: 3px 3px 5px #6666;
        transition: left .15s linear;

        &.peek {
            left: 8px;
        }

        .overlay-size{
            display: none;
        }
    }

    .overlay__inner {

      .map-panel-photo {
            width: 100%;
            border-radius: 2rem;
            margin: .5rem 0;
        }
        
        /* In Window */
        
        .dates {
            opacity: .7;
            margin: 0 0 .5em;
        }
        
        .list__container {
            display: block;
            background-color: #fcfaf4;
            margin: 10px;
            padding: 18px 9px;
        }
        
        .menu {
            text-align: center;
        }
        
        .list__title {
            font-weight: 600;
            font-size: 1rem;
            font-family: 'Permanent Marker', cursive;
        }
        
        .list__item {
            display: block;
            padding: .5em 1em .5em 1em;
            letter-spacing: .5px;
            color: #444;
            font-size: .92rem;
        }
    }
}