body {
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  color: #222;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin: .5em 0;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  /* color: #786651; */
  color: #d8534f;
}

a:hover {
  text-decoration: none;
  color: #bc2e29;
}

.dates {
  font-weight: 800;
}

.list-item {
  padding: .5em .8em 0 .8em;
  /* color: #666; */
  display: block;
}

/* .map {
  height: 80vh;
  width: 100%;
} */

.map-window {
  max-height: 60vh;
  padding: 5px;
}

.map-window div {
  margin: 0px 0px 15px 0px;
}

.map-window h1, .map-window h2, .map-window h3, .map-window h4, .map-window p {
  /* display: inline; */
  /* float: none; */
  text-align: left;
  width: auto;
}

/* Remove pointer on window */
.gm-style {
  font-family: 'Roboto', sans;
}

.gm-style .gm-style-iw-t::after {
  display: none;
}

.gm-style .gm-style-iw {
  font-weight: 400;
}

@media (min-width: 546px) {
  .gm-style .gm-style-iw {
    max-width: 480px !important;
  }
}

@media (max-width: 545px) {
  .gm-style .gm-style-iw {
    max-width: 90vw !important;
  }
}

.gm-style .gm-style-iw-c {
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 2px 2px 1px #333c;
  border: 1px solid #ccc;
  padding: 4px;
}

.gm-style-iw button img {
  display: none !important;
}

@media only screen and (max-width: 1500px) {
  .gm-style .gm-style-iw p {
    font-size: 16px;
  }
}

.map-panel-photo {
  width: 100%;
}
