/* Global */
body {
  position: relative;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #e8dcc4;
  color: #4a3d2e;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.4em;
  /* color: #d8534f; */
}

h1, h2 {
  margin: 0;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #8b5a3c;
}

a:hover {
  text-decoration: none;
  color: #6b4530;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 450px;
  max-width: 100vw;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  background-color: #e8dcc4;
  box-shadow: 1px 1px #8a7d6a, 2px 2px #8a7d6a, 3px 3px #8a7d6a;
  padding: 4px;
  overflow-y: auto;
}

/* Old Window */

.map-window {
  max-height: 60vh;
  padding: 5px;
}

.map-window div {
  margin: 0px 0px 15px 0px;
}

.map-window h1, .map-window h2, .map-window h3, .map-window h4, .map-window p {
  /* display: inline; */
  /* float: none; */
  text-align: left;
  width: auto;
}

/* Remove pointer on window */
.gm-style {
  font-family: 'Roboto', sans;
}

.gm-style .gm-style-iw-t::after {
  display: none;
}

.gm-style .gm-style-iw {
  font-weight: 400;
}

@media (min-width: 546px) {
  .gm-style .gm-style-iw {
    max-width: 480px !important;
  }
}

@media (max-width: 545px) {
  .gm-style .gm-style-iw {
    max-width: 90vw !important;
  }
}

.gm-style .gm-style-iw-c {
  background-color: #e8dcc4;
  border-radius: 20px;
  box-shadow: 1px 1px #8a7d6a, 2px 2px #8a7d6a, 3px 3px #8a7d6a;
  border: 1px solid #8a7d6a;
  padding: 4px;
}

.gm-style-iw button img {
  display: none !important;
}

@media only screen and (max-width: 1500px) {
  .gm-style .gm-style-iw p {
    font-size: 16px;
  }
}

.map-panel-photo {
  width: 100%;
}

/* In Window */

.dates {
  font-weight: 800;
}

.list__container {
  display: block;
  background-color: #d9ccab;
  margin: 10px;
  padding: 18px 9px;
}

.menu {
  text-align: center;
}

.list__title {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Permanent Marker', cursive;
}

.list__item {
  display: block;
  padding: .5em 1em .5em 1em;
  letter-spacing: .5px;
  color: #4a3d2e;
  font-size: .92rem;
}